/******************************* ALL ********************************/

body {
	margin: 0;
	padding: 0;

	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

button {
	cursor: pointer;
	border-radius: 50px;
	outline: none;
	border: none;
}

.smallText {
	font-size: 20px;
}

.midText {
	font-size: 24px;
}

.headerText {
	font-size: 64px;
}

.interfaceText {
	font-size: 16px;
}

.button1 {
	width: 157px;
	height: 50px;
	background-color: #E7C789;
	color: black;
}
.button1:hover {
	background-color: #C8AD78;
	
	transition: 0.5s;
}
.button2 {
	width: 157px;
	height: 50px;
	background-color: #FFE5E5;
	color: black;
}
.button2:hover {
	background-color: #C1A8A8;
	transition: 0.5s;
}


.block {
	width: 100%;
	height: 768px;
	border-bottom: solid;
	border-width: 5px;
}

#logo {
	height: 116px;
	width: 92px;
}

/************************************************************************************************/

/********************************** NAVBAR ***********************************/

#menu {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-right: 100px;
	margin-left: 100px;
	margin-top: 27px;
}

#menu #navBar {
	display: flex;
	justify-content: space-around;
	width: 211px;

	margin-top: 42px;
}



ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
	
}

#menu #loginReg {
	display: flex;
	justify-content: space-around;
	width: 161px;

	margin-top: 35px;
}

#menu #loginReg #littleCup {
	width: 29.17px;
	height: 35px;
}

#menu #loginReg #cartNum {
	height: 20px;
	width: 20px;
	border-radius: 50px;
	background-color: #C18A45;
	color: white;
	text-align: center;

	position: absolute;
	right: 100px;
	top: 52px;
}


/**************************************** RESPONSIVE ******************************************/

/******************** Desktop ************************/
@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10,.col-lg-11, .col-lg-12 {
		float: left;
	} 
	.col-lg-1 {
		width: 8.33%;
	}
	.col-lg-2 {
		width: 16.66%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-4 {
		width: 33.33%;
	}
	.col-lg-5 {
		width: 41.66%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-7 {
		width: 58.33%;
	}
	.col-lg-8 {
		width: 66.66%;
	}
	.col-lg-9 {
		width: 74.99%;
	}
	.col-lg-10 {
		width: 83.33%;
	}
	.col-lg-11 {
		width: 91.66%;
	}
	.col-lg-12 {
		width: 100%;
	}
}


/******************** Tablet ************************/
@media (min-width: 768px) and (max-width: 991px) {
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10,.col-md-11, .col-md-12 {
		float: left;
	} 

	.col-md-1 {
		width: 8.33%;
	}
	.col-md-2 {
		width: 16.66%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 33.33%;
	}
	.col-md-5 {
		width: 41.66%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-7 {
		width: 58.33%;
	}
	.col-md-8 {
		width: 66.66%;
	}
	.col-md-9 {
		width: 74.99%;
	}
	.col-md-10 {
		width: 83.33%;
	}
	.col-md-11 {
		width: 91.66%;
	}
	.col-md-12 {
		width: 100%;
	}
}

/******************** Mobile ************************/
@media (max-width: 991px) {
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10,.col-sm-11, .col-sm-12 {
		float: left;
	} 

	.col-sm-1 {
		width: 8.33%;
	}
	.col-sm-2 {
		width: 16.66%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-4 {
		width: 33.33%;
	}
	.col-sm-5 {
		width: 41.66%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-7 {
		width: 58.33%;
	}
	.col-sm-8 {
		width: 66.66%;
	}
	.col-sm-9 {
		width: 74.99%;
	}
	.col-sm-10 {
		width: 83.33%;
	}
	.col-sm-11 {
		width: 91.66%;
	}
	.col-sm-12 {
		width: 100%;
	}
}

/******************** Small Mobile ************************/
@media (min-width: 100px) (max-width: 790px) {
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10,.col-xs-11, .col-xs-12 {
		float: left;
	} 

	#logo {
		display: none;
	}

	.block {
		height: 885px;
	}


	#bl3_pic {
		height: 348px;
		width: 264.52px;
	}


	.col-xs-1 {
		width: 8.33%;
	}
	.col-xs-2 {
		width: 16.66%;
	}
	.col-xs-3 {
		width: 25%;
	}
	.col-xs-4 {
		width: 33.33%;
	}
	.col-xs-5 {
		width: 41.66%;
	}
	.col-xs-6 {
		width: 50%;
	}
	.col-xs-7 {
		width: 58.33%;
	}
	.col-xs-8 {
		width: 66.66%;
	}
	.col-xs-9 {
		width: 74.99%;
	}
	.col-xs-10 {
		width: 83.33%;
	}
	.col-xs-11 {
		width: 91.66%;
	}
	.col-xs-12 {
		width: 100%;
	}
}